/graphql.schema.json
/graphql.config.json
logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/node_modules

*.iml

# webpack output
/public/*.*
.metals/
.vscode/
project/project/
project/metals.sbt
project/plugins/project/
metals.sbt
.bloop/
.bsp
