@(googleAnalyticsCode: Option[String])
<!DOCTYPE html>

<html>
<head>
  <link href="//cdn.jsdelivr.net/graphiql/0.7.1/graphiql.css" rel="stylesheet" />

  <style>
    html, body {
      height: 100%;
      margin: 0;
      overflow: hidden;
      width: 100%;
    }

    #graphiql {
      height: 100vh;
    }
  </style>

  <script src="//cdn.jsdelivr.net/fetch/0.9.0/fetch.min.js"></script>
  <script src="//cdn.jsdelivr.net/react/0.14.7/react.min.js"></script>
  <script src="//cdn.jsdelivr.net/react/0.14.7/react-dom.min.js"></script>
  <script src="//cdn.jsdelivr.net/graphiql/0.7.1/graphiql.min.js"></script>
</head>
<body>
  <div id="graphiql">Loading...</div>

  <script>
    // Collect the URL parameters
    var parameters = {};
    window.location.search.substr(1).split('&').forEach(function (entry) {
      var eq = entry.indexOf('=');
      if (eq >= 0) {
        parameters[decodeURIComponent(entry.slice(0, eq))] =
          decodeURIComponent(entry.slice(eq + 1));
      }
    });

    // Produce a Location query string from a parameter object.
    function locationQuery(params) {
      return '?' + Object.keys(params).map(function (key) {
        return encodeURIComponent(key) + '=' +
          encodeURIComponent(params[key]);
      }).join('&');
    }

    // Derive a fetch URL from the current URL, sans the GraphQL parameters.
    var graphqlParamNames = {
      query: true,
      variables: true,
      operationName: true
    };

    var otherParams = {};
    for (var k in parameters) {
      if (parameters.hasOwnProperty(k) && graphqlParamNames[k] !== true) {
        otherParams[k] = parameters[k];
      }
    }

    // Defines a GraphQL fetcher using the fetch API.
    function graphQLFetcher(graphQLParams) {
      return fetch(window.location.origin + '/graphql', {
        method: 'post',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(graphQLParams),
        credentials: 'include',
      }).then(function (response) {
        return response.text();
      }).then(function (responseBody) {
        try {
          return JSON.parse(responseBody);
        } catch (error) {
          return responseBody;
        }
      });
    }

    // When the query and variables string is edited, update the URL bar so
    // that it can be easily shared.
    function onEditQuery(newQuery) {
      parameters.query = newQuery;
      updateURL();
    }

    function onEditVariables(newVariables) {
      parameters.variables = newVariables;
      updateURL();
    }

    function updateURL() {
      history.replaceState(null, null, locationQuery(parameters));
    }

    // Render <GraphiQL /> into the body.
    React.render(
      React.createElement(GraphiQL, {
        fetcher: graphQLFetcher,
        query: undefined,
        response: null,
        variables: null,
        onEditQuery: onEditQuery,
        onEditVariables: onEditVariables,
        defaultQuery: "# Welcome to GraphiQL\n" +
          "#\n" +
          "# GraphiQL is an in-browser IDE for writing, validating, and\n" +
          "# testing GraphQL queries.\n" +
          "#\n" +
          "# Type queries into this side of the screen, and you will\n" +
          "# see intelligent typeaheads aware of the current GraphQL type schema and\n" +
          "# live syntax and validation errors highlighted within the text.\n" +
          "#\n" +
          "# To bring up the auto-complete at any point, just press Ctrl-Space.\n" +
          "#\n" +
          "# Press the run button above, or Cmd-Enter to execute the query, and the result\n" +
          "# will appear in the pane to the right.\n\n" +
          "query FactionsAndShips {\n  factions(names:[\"empire\",\"rebels\"]) {\n    name\n    ships{\n      edges{\n        node{\n          name\n        }\n      }\n    }\n  }\n}"
      }),
      document.getElementById('graphiql')
    );
  </script>

  @if(googleAnalyticsCode.isDefined) {
    <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '@googleAnalyticsCode.get', 'auto');
            ga('send', 'pageview');
    </script>
  }
</body>
</html>